.login_card {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.02) 100%);

    backdrop-filter: blur(35px);
    border-left: 4px solid;
    border-image: linear-gradient(9.78deg, rgba(0, 153, 229, 0.4) 1.94%, rgba(255, 255, 255, 0.4) 18.73%, rgba(204, 234, 250, 0.939696) 41.7%, rgba(0, 153, 229, 0.7) 50.61%, rgba(141, 210, 243, 0.866258) 70.12%, rgba(100, 193, 239, 0.817821) 78.19%, rgba(0, 153, 229, 0.7) 87.46%) 1;
}

.background {
    background: radial-gradient(80.64% 82.47% at 50% 50%, #DEDEDE 61.77%, #33BCFF 100%);
}

.circle1 {
    content: '';
    margin-top: 23em;
    margin-left: 56em;
    height: 70rem;
    width: 70rem;
    border-radius: 100%;
    background: var(--accent-color);
}

.circle2 {
    content: '';
    margin-top: 38em;
    margin-left: 30em;
    height: 60rem;
    width: 60rem;
    border-radius: 100%;
    background: var(--accent-color);
}

.backgroundGradient {
    content: '';
    position: absolute;
    width: 927px;
    height: 637px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (max-width:900px) {
    .login_card {
        border-right: 4px solid;
        width: 100%;
        min-width: 500px;
    }

    .markField {
        align-self: center;
        width: 25rem;
    }
}