.addProjectCard {
    background: var(--base);
    border-radius: 30px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-width: fit-content;
}

@media screen and (max-width:900px) {

}