.main {
  display: flex;
  padding: 0 40px;
  margin-top: 60px;
}

.firstColumn {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px;
}

.profilePictureBx {
  width: 150px;
  margin-right: 25px;
  img {
    width: 100%;
    border-radius: 50%;
  }
}

.profileInfos {
  h1 {
    font-size: 24px;
  }

  p,
  span {
    font-size: 12px;
  }

  span {
    font-weight: 600;
  }
}

.profileSkillsBx {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  gap: 10px;

  p {
    color: white;
    padding: 2px 10px;
    border-radius: 10px;
    background: #0099e5;
    margin-right: 15px;
    text-align: center;
  }
}

.portfolioContainer {
  height: 400px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 0.5px solid rgba(88, 88, 88, 0.56);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  button {
    background: unset;
    border: unset;
    font-size: 24px;
    margin-top: 5px;
    padding: 2px 15px;
  }
}

.active {
  border-bottom: 2px solid #0099e5 !important;
}

.portfolioContent {
  height: 80%;
  width: 100%;
  margin-right: 20px;
}

.projectList {
  overflow-y: scroll;
  height: 100%;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(185, 185, 185);
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);
  }
}

.projectContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 10px;
}

.projectPictureBx {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 70%;
    min-width: 3rem;
    border-radius: 100px;
  }
}

.projectContent {
  h1 {
    font-size: 22px;
    font-weight: normal;
  }

  span,
  p {
    font-size: 12px;
  }
}

.projectSkillsBx {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;

  p {
    color: #0099e5;
    background-color: #ffffff;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid #0099e5;
    margin-right: 15px;
    text-align: center;
  }
}

.detailBtnBx {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background: unset;
    border: unset;
    font-size: 10px;
    margin-top: 5px;
    padding: 8px 18px;
    color: white;
    border-radius: 15px;
    background: #0099e5;
    margin-right: 15px;
    text-align: center;
  }
}

.skillColumnsWraper {
  display: flex;
  justify-content: space-evenly;
}

.skillsColumn {
  padding: 25px;

  h2{
    font-weight: normal;
  }

  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    p {
      font-size: 10px;
      margin: 5px;
      padding: 8px 15px;
      color: white;
      border-radius: 15px;
      background: #0099e5;
      margin-right: 15px;
      text-align: center;
    }
  }
}

.secondColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

@media (max-width: 768px) {
  .main{
    flex-direction: column;
    align-items: center;
  }

  .firstColumn{
    margin-top: 20px;
    width: 100%;
    padding: 0px 10px;
  }

}

@media (max-width: 900px) {
  .secondColumn{
    margin: 20px 0;
    width: 100%;
  }
}