button.primaryBtn{
    border: 0;
    border-radius: 50px;
    background: var(--primary-color);
    color: white;
    padding: 11px;
    width: 30%;
    transition: all .3s ease-in;
}
  
button.primaryBtn:hover {
    background: var(--accent-color);
    box-shadow: var(--base_shadow);
    transform:translate(0,-2px);
}

button.primaryBtn:active {
    color: var(--accent);
    background-color: var(--secondary-color);
    outline: .2rem var(--accent-color) solid;   
    transition: 0.1s ease-out;
    transform:translate(0,1px);
    box-shadow:0px 1px 9px rgba(0, 0, 0, 0.21);
}


button.primaryBtn:focus {
    outline: .2rem var(--accent-color) solid;
    outline-offset: 2px;
}