

.checkbox {
    cursor: pointer;
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 4px;
    border-radius: 7px;
    outline: 2px var(--primary-color) solid;
    outline-offset: .01rem;
    background: #F9F9F9;
    transition: .5s ease-out;
}
  
.checkbox::before {
    position: absolute;
    content: '';
    height: 14px;
    width: 8px;
    background-color: var(--base);
    border-right: 2px solid var(--primary-color) ;
    border-bottom: 2px solid var(--primary-color);
    transform: rotate(45deg);
    margin-top:-4px ;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.checkbox:checked::before {
    opacity: 1;
}

.checkbox:focus {
    border-radius: 5px;
    outline: 2px var(--primary-color) solid;
    outline-offset: .05rem;
}

.checkbox:checked {
    border-radius: 20px;
    transition: .5s ease-in;
}